@font-face {
  font-family: pixelArt;
  src: url(../assets/fonts/DisposableDroidBB.ttf) format("truetype");
}

.header {
  width: 98%;
  height: 10vh;
  padding-left: 16px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.leftContent {
  font-size: 24px;
}

.leftContent,
.rightContent {
  display: flex;
  align-items: center;
}

.pageIcon {
  color: #fff;
  font-family: pixelArt;
  text-decoration: none;
  font-size: 34px;
  border: 2.5px dashed white;
  border-radius: 4px;
  font-weight: bold;
  padding: 12px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Main-Container {
  background-color: #282c34;
  padding-top: 8rem;
  font-family: pixelArt;
  border-style: dashed;
  color: #646363;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  z-index: 0;
  margin-top: 5%;
  position: relative;
  height: 40vh;
}

.Profile-Pic {
  align-self: center;
  justify-self: flex-start;
  color: #646363;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  border-width: 2.7px;
  border-style: dashed;
  z-index: 2;
  top: 0;
  position: absolute;
  transform: translateY(-50%);
}

.Career-Description {
  font-size: 18px;
}

.title {
  font-size: 36px;
  font-weight: 500;
  margin-top: 2%;
}

.subtitle {
  font-size: 30px;
  font-weight: 500;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

.career {
  font-size: 18px;
  font-weight: 500;
}
