.socialMediaIcon {
  width: 3.5vh;
  height: 3.5vh;
  filter: opacity(0.5) drop-shadow(0 0 0 #384951);
  margin-left: 0.5vw;
  @media (max-width: 1000px) {
    width: 5vh;
    height: 5vh;
    margin-left: 1vw;
  }
}
